@import "tailwindcss" theme(static);
@import "@nuxt/ui";


:root {
    --ui-radius: 0.50rem;

    /* Tooltip - Default padding */
    --vis-tooltip-padding: 0 0 .5rem 0 !important;

    /* Tooltip - Title */
    --vis-tooltip-title-color: var(--ui-text) !important;
    --vis-tooltip-title-text-transform: capitalize !important;
    --vis-tooltip-title-border-bottom: 1px solid var(--ui-border) !important;
    --vis-tooltip-title-margin-bottom: 0.25rem !important;
    --vis-tooltip-title-padding-bottom: 0.25rem !important;
    --vis-tooltip-title-padding: 0.75rem !important;
    --vis-tooltip-title-font-size: 0.875rem !important;
    --vis-tooltip-title-line-height: 100% !important;
    --vis-tooltip-title-font-weight: 600 !important;

    /* Tooltip - Entry */
    --vis-tooltip-entry-padding-right: 1rem !important;
    --vis-tooltip-entry-padding-left: 1rem !important;

    /* Tooltip - Dot */
    --vis-tooltip-dot-width: 8px !important;
    --vis-tooltip-dot-height: 8px !important;
    --vis-tooltip-dot-border-radius: 4px !important;
    --vis-tooltip-dot-margin-right: 8px !important;

    /* Tooltip - Label */
    --vis-tooltip-label-font-weight: 400 !important;
    --vis-tooltip-label-font-size: 0.875rem !important;
    --vis-tooltip-label-margin-right: 1rem !important;
    --vis-tooltip-label-color: var(--ui-text-muted) !important;

    /* Tooltip - Value */
    --vis-tooltip-value-font-size: 0.875rem !important;
    --vis-tooltip-value-font-weight: 600 !important;
    --vis-tooltip-value-color: var(--ui-text) !important;

    /* Tooltip - Container */
    --vis-tooltip-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
    --vis-tooltip-border-radius: 8px !important;
    --vis-tooltip-border-color: var(--ui-border) !important;
    --vis-tooltip-background-color: var(--ui-bg) !important;
    --vis-tooltip-text-color: var(--ui-text) !important;
    --vis-tooltip-divider: var(--ui-border) !important;
}



@theme static {
    --font-sans: 'Public Sans', sans-serif;

}

.dark {
    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);

    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: var(--color-white);
}